.background-img{
    background-image: url('https://en.pimg.jp/048/513/821/1/48513821.jpg');
    background-color: #cccccc;
    min-height: 520px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#banner-name{
    color: tomato;
}
.hover-effect{
    transition: 0.5s;
}
.hover-effect:hover{
transform:scale(1.02);
cursor: pointer;
}